body
{
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#444;padding:010px
}


ul
{
    width: 620px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    margin-left: :10px;
}


h1,h2,h3
{
width: 620px;
line-height:1.2
}

